<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatiscache.dao.ProductMapper">
    <!--开启基于redis的二级缓存-->
    <cache type="com.mybatiscache.rediscache.RedisCache"/>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatiscache.pojo.Product">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
    </resultMap>

    <select id="queryAll" resultType="com.mybatiscache.pojo.Product">
        select * from product
        where id=#{id}
        limit 1
    </select>

    <update id="updateMsg" parameterType="com.mybatiscache.pojo.Product" flushCache="true">
        update product
        set name=#{product.name},price=#{product.price}
        where id=#{product.id}
        limit 1
    </update>
</mapper>
<!--如果我们在启用了二级缓存后，有某个查询语句是我们不想缓存的，则可以通过指定其useCache为false来达到对应的效果。
如果我们不想该语句缓存，可使用useCache="false"-->